spring:
  application:
    name:
        contribute-app
  datasource:
    url: jdbc:mysql://localhost:3306/contribute_db
    username: jyothi
    password: jyothi

  jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate.format_sql: true

  server:
      port: 8080